<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

<!-- macro legs -->
<xacro:macro name="hesai_jt128" params="parent name *origin">
    <link name="${name}_link">
        <inertial>
        <mass value="0.2"/>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <inertia ixx="0.001" ixy="0" ixz="0"
                iyy="0.001" iyz="0"
                izz="0.001"/>
        </inertial>
        <visual>
            <origin xyz="0.0 0.0 0.0"  rpy="0.0 0.0 0.0"/>
            <geometry>
                <mesh filename="package://hesai_jt128_gz_sim_plugin/meshes/hesai_jt128.stl" scale="0.0001 0.0001 0.0001"/>
            </geometry>
            <material name="dark_grey"/>
        </visual>
    </link>

    <joint name="${name}_joint" type="fixed">
        <xacro:insert_block name="origin" />
        <parent link="${parent}"/>
        <child link="${name}_link"/>
    </joint>

    <gazebo reference="${name}_joint">
        <preserveFixedJoint>true</preserveFixedJoint>
    </gazebo>

    <gazebo reference="${name}_link">
        <sensor name="${name}_gpu_lidar" type="gpu_lidar">
            <gz_frame_id>${name}_link</gz_frame_id>
            <pose>0 0 0 0 0 0</pose>
            <topic>/${name}</topic>
            <update_rate>20</update_rate>
            <ray>
                <scan>
                    <horizontal>
                        <samples>1800</samples>
                        <resolution>1</resolution>
                        <min_angle>-3.14159265359</min_angle>
                        <max_angle>3.14159265359</max_angle>
                    </horizontal>
                    <vertical>
                        <samples>128</samples>
                        <resolution>1</resolution>
                        <min_angle>-1.64933614313</min_angle>
                        <max_angle>1.64933614313</max_angle>
                    </vertical>
                </scan>
                <range>
                    <min>0.05</min>
                    <max>40.0</max>
                    <resolution>0.01</resolution>
                </range>
            </ray>
            <always_on>true</always_on>
            <visualize>true</visualize>
        </sensor>   
    </gazebo>

    <!-- <gazebo>
        <plugin
            name="jt128_gz_sim::HesaiJT128GzSimPlugin"
            filename="libhesai_jt128_gz_sim_plugin.so">

            <gz_topic>/${name}/scan</gz_topic>
            <ros_topic>/${name}/points</ros_topic>
            <frame_name>${name}_link</frame_name>

            <vertical_major>true</vertical_major>

            <keep_invalid_points>false</keep_invalid_points>
        </plugin>
    </gazebo> -->
</xacro:macro>
</robot>